@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Fonts -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/app.min.css">
</head>

<body>
    <div id="my-page">

        <header class="header">
            <div class="row">
                <div class="small-12 columns">
                    <a id="nav-toggle" href="#menu-mobile"><span></span></a>

                    <nav id="menu-mobile">
                        @{ Html.RenderPartial("MainNavigation"); }
                    </nav>

                    <nav id="desktop-menu">
                        @{ Html.RenderPartial("MainNavigation"); }
                    </nav>
                </div>
            </div>

        </header>

        <main>
            <div class="row">
                <div class="small-12 columns">
                    @RenderBody()
                </div>
            </div>
        </main>

        <footer>
            <div class="row">
                <div class="small-12 columns">

                </div>
            </div>
        </footer>
    </div>

    <!-- Javascripts -->
    <script src="~/scripts/district.js"></script>
</body>
</html>