@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Fonts -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/app.min.css">
</head>

<body class="@RenderSection("BodyClass", false)">
    <div class="subpage">

        @Html.Partial("Header")

        <main class="main-content">
            @RenderBody()
        </main>

        @Html.Partial("Footer")

    </div>

    <!-- Javascripts -->
	@*<script type="text/javascript" src="/scripts/Main.SmartBlog.js" async></script>*@
    <script src="~/scripts/district.js"></script>
</body>
</html>