@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- Fonts -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/app.min.css">
	@RenderSection("Styles", false)

</head>

<body>
    <div id="my-page">

        <header class="header">
            <div class="row">
                <div class="small-12 columns">
                    <a id="nav-toggle" href="#menu-mobile"><span></span></a>

                    <div class="header-container">
                        <a href="/" class="logo">
                            <img src="/media/1001/logo.png" />
                        </a>

                        <nav id="menu-mobile">
                            @{ Html.RenderPartial("MainNavigation"); }
                        </nav>

                        <nav id="desktop-menu">
                            @{ Html.RenderPartial("MainNavigation"); }

                            <div id="searchbox">
                                <input id="srch-input" class="search-input" placeholder="Site Search" value="" onkeypress="if (event.keyCode == 13) location = '/search-results?Keywords=' + document.getElementById('srch-input').value" />

                                <a href="#" class="search-icon"><img src="/graphics/site-search.png" /></a>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <main class="main-content">
            @RenderBody()
        </main>

        <footer>
            <div class="row">
                <div class="small-12 columns">

                </div>
            </div>
        </footer>
    </div>

    <!-- Javascripts -->
	<script type="text/javascript" src="/scripts/Main.SmartBlog.js" async></script>
    <script src="~/scripts/district.js"></script>
</body>
</html>