@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;
@{
    Layout = "_Layout.cshtml";
}
<div class="row">
    <div class="small-9 columns">
        <div class="lefter">
            @RenderBody()
        </div>
    </div>

    <div class="small-3 columns">
        @Html.Partial("SmartSearch")
        @Html.Partial("SmartListTags")
        @Html.Partial("SmartListLatestComments")
        @Html.Partial("SmartListAuthors")
        @Html.Partial("SmartListCategories")
        @Html.Partial("SmartArchive")
    </div>
</div>